<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

    <script
      src="https://kit.fontawesome.com/0d2024108d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}"><i class="fas fa-home fa-2x"></i></a>
    </nav>
    <br />
    <div class="content">{% block content %} {% endblock %}</div>
    <br />
  </body>
</html>
