{% extends 'base.html' %} {% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
</head>
{% block content %}
<h1>Blog!!</h1>
<br />
<table class="table_title">
  <thead>
    <tr>
      <th>제목</th>
    </tr>
  </thead>
  <tbody>
    {% for p in posts %}
    <tr>
      <th>
        <a href="{% url 'detail' p.pk %}">{{p.title}}</a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- {% for p in posts %}
<li>
  <a href="{% url 'detail' p.pk %}">{{p.title}}</a>
</li>
{% endfor %} -->
<a href="{% url 'new' %}"><i class="fas fa-plus fa-2x"></i></a>
<br />
{% endblock %}
