{% extends 'base.html' %} {% block content %}
<h1>제목: {{post.title}}</h1>
<br />
{% if post.img %}
<img src="{{post.img.url}}" alt="이미지 없음" />
{% endif %}
<br />

<h3>내용: {{post.contents}}</h3>
<br />
<h3>가격: {{post.price}}</h3>
<br />
<h3>별점: {{post.rating}}/5</h3>
<br />

댓글
<br />
<ul>
  {% for com in post.comments.all %}
  <li>
    {{com.content}}
    <a href="{% url 'delete_comment' post.pk com.pk %}"
      ><button>삭제</button></a
    >
  </li>
  {% endfor %}
</ul>

<br />
<form method="POST">
  {% csrf_token %} {{form.as_p}}
  <input type="submit" value="댓글 작성" />
</form>
<br />
<a href="{% url 'home' %}"><button>목록</button></a>
<a href="{% url 'edit' post.pk %}"><button>수정</button></a>
<a href="{% url 'delete' post.pk %}"><button>삭제</button></a>

{% endblock %}
